<!-- app.component.html -->
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class=" border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-white"><i class="bi bi-activity"></i> RH Space </div>
    <div class="list-group list-group-flush">
      <a routerLink="#"   class="list-group-item list-group-item-action  "><i class="bi bi-database-dash"></i> Dashboard</a>
      <a routerLink="#" class="list-group-item list-group-item-action "><i class="bi bi-info"></i> About</a>
      <a routerLink="employees" routerLinkActive="active"  class="list-group-item list-group-item-action  "><i class="bi bi-house-door"></i> Gestion Employees</a>
      <a routerLink="employees/file" class="list-group-item list-group-item-action "><i class="bi bi-credit-card-2-back"></i> Gestion Payments</a>
      <!-- Add more navigation items here -->
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-light" id="menu-toggle"><i class="bi bi-toggle-off"></i></button>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
