
        <div class="card">
          <div class="card-header">
            Payment File
          </div>
          <div class="card-body">
            <form>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="id_employee" class="form-label">Matricule</label>
                    <input type="text" class="form-control" id="id_employee" [(ngModel)]="employee.id_employee" [ngModelOptions]="{ standalone: true }" placeholder="Your Matricule">
                </div>
                <div class="col-md-6">
                  <a class="btn btn-success mx-2" (click)="search(this.employee.id_employee)">search</a>
                </div>
              </div>
                <div class="row mb-3">
                  <label for="id_post" class="form-label">Post Number</label>
                  <input type="text" class="form-control" id="id_post" [(ngModel)]="this.post.nom_post" [ngModelOptions]="{ standalone: true }" placeholder="Your Post ID">
                </div>
              
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="salaire_base" class="form-label">Base salary</label>
                    <input type="number" class="form-control" id="salaire_base" [(ngModel)]="post.salaire_base" [ngModelOptions]="{ standalone: true }" placeholder="Base Salary">
                </div>
                <div class="col-md-6">
                  <label for="prime_variable" class="form-label">Variable prime</label>
                  <input type="number" class="form-control" id="prime_variable" [(ngModel)]="post.prime_variable" [ngModelOptions]="{ standalone: true }" placeholder="Prime variable">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="transport" class="form-label">Transport</label>
                  <input type="number" class="form-control" id="transport" [(ngModel)]="post.transport" [ngModelOptions]="{ standalone: true }" placeholder="Transport prime">
                </div>
                <div class="col-md-6">
                  <label for="panier" class="form-label">Panier</label>
                  <input type="number" class="form-control" id="panier" [(ngModel)]="post.panier" [ngModelOptions]="{ standalone: true }" placeholder="Panier">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="mois" class="form-label">Month</label>
                  <input type="text" class="form-control" id="mois" [(ngModel)]="file.mois" [ngModelOptions]="{ standalone: true }" placeholder="month">
                </div>
                <div class="col-md-6">
                  <label for="annee" class="form-label">Year</label>
                  <input type="text" class="form-control" id="annee" [(ngModel)]="file.year" [ngModelOptions]="{ standalone: true }" placeholder="year">
                </div>
              </div>
              
              <div class="mb-2">
                <label for="montant" class="form-label">Montant Total</label>
                  <input type="text" class="form-control" id="montant" [(ngModel)]="post.montant" [ngModelOptions]="{ standalone: true }" placeholder="Montal Total">
              </div>
              <button type="submit" class="btn btn-success " (click)="submit()">Save</button>
              <button  class="btn btn-warning mx-2" (click)="calculer()">Calculer</button>
            </form>
          </div>
        </div>
