
  <div class="container mt-5" >
    <a class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-file-earmark-plus"></i></a>
    <table class="table table-striped" >
      <thead>
        <tr>
          <th>Matricule</th>
          <th>Nom Complet</th>
          <th>Date Embauche</th>
          <th>Date Naissance</th>
          <th>Compte Bancaire</th>
          <th>Email</th>
          <th>Addres</th>
          <th>Post</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.contacts" >
          <td>{{item.id_employee}}</td>
          <td>{{item.nom_complet}}</td>
          <td>{{item.date_embauche}}</td>
          <td>{{item.date_naissance}}</td>
          <td>{{item.compte_bancaire}}</td>
          <td>{{item.email}}</td>
          <td>{{item.adress}}</td>
          <td>{{item.id_post}}</td>
          <td>
            <a class="btn btn-light" (click)="deleteEmployee(item.id_employee)">Delete</a>
           
          </td>
          <td>
            <a class="btn mx-2" routerLink="file"  >Create Payment</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title"><i class="bi bi-database-add"></i> Add New Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="id_employee" class="form-label">Matricule</label>
                  <input type="text" class="form-control" id="id_employee" [(ngModel)]="this.employee.id_employee" [ngModelOptions]="{ standalone: true }" placeholder="Your Matricule">
              </div>
              <div class="col-md-6">
                <label for="nom_complet" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="nom_complet" [(ngModel)]="this.employee.nom_complet" [ngModelOptions]="{ standalone: true }" placeholder="Full Name">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="date_embauche" class="form-label">Date Embauche</label>
                  <input type="date" class="form-control" id="date_embauche" [(ngModel)]="this.employee.date_embauche" [ngModelOptions]="{ standalone: true }" placeholder="Date Embauche">
              </div>
              <div class="col-md-6">
                <label for="situation_famililal" class="form-label">Situation Familiale</label>
                <input type="text" class="form-control" id="situation_famililal" [(ngModel)]="this.employee.situation_famililal" [ngModelOptions]="{ standalone: true }" placeholder="Situation Familiale">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="date_naissance" class="form-label">Date Naissance</label>
                <input type="date" class="form-control" id="date_naissance" [(ngModel)]="employee.date_naissance" [ngModelOptions]="{ standalone: true }" placeholder="Date Naissance">
              </div>
              <div class="col-md-6">
                <label for="compte_bancaire" class="form-label">Compte bancaire</label>
                <input type="number" class="form-control" id="compte_bancaire" [(ngModel)]="employee.compte_bancaire" [ngModelOptions]="{ standalone: true }" placeholder="Compte bancaire">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="adress" class="form-label">Adress</label>
                <input type="text" class="form-control" id="adress" [(ngModel)]="employee.adress" [ngModelOptions]="{ standalone: true }" placeholder="adress">
              </div>
              <div class="col-md-6">
                <label for="email" class="form-label">email</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="this.employee.email" [ngModelOptions]="{ standalone: true }" placeholder="email">
              </div>
            </div>
            
            <div class="mb-2">
              <label for="id_post" class="form-label">Post</label>
                <input type="text" class="form-control" id="id_post" [(ngModel)]="employee.id_post" [ngModelOptions]="{ standalone: true }" placeholder="post ID">
            </div>
            
            
          </form>
        <!-- Modal footer -->
        
        <div class="modal-footer">
          <a type="submit" class="btn btn-success " (click)="addEmp()">Save</a>
          <a class="btn btn-danger mx-2" data-bs-dismiss="modal">Close</a>
        </div>
  
      </div>
    </div>
  </div>